<div id="sources" class="container">
  <div class="notice notice-success"><img src="images/icon-check.png" />Your Dropbox account is now connected to Asheville.</div>
  <div id="top-area">{{#link-to 'index'}}Sign Out{{/link-to}}</div>
  <h1>Connect social networks</h1>
  <p>Now that you've connected your Dropbox account, we need you to connect at least one social network so we can start backing up your content from it.</p>
  <p>After connecting a network, select the types of content you want to backup from it as well.</p>
  <div class="tip"><strong>Note:</strong> We will <em>not</em> post anything to these social networks without your explicit permission. We simply need you to connect them so we have permission to access your content.</div>
  {{#unless sources.isLoading}}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Connect</th>
          <th>
            <div id="sources-content-type-options"><a href="#" onclick="return false;">Select All</a> | <a href="#" onclick="return false;">Deselect All</a></div>
            Select Content Types to Back Up
          </th>
        </tr>
      </thead>
      {{#each sources.collection}}
        <tr {{bind-attr class="connected"}}>
          <td>{{name}}</td>
          <td class="source-connect-area">
            <button {{action 'toggleConnection' this}}>{{{connectLabel}}}</button>
          </td>
          <td>
            <ul style="float: left;">
              {{#each contentTypes}}
                <li>
                  {{#view App.CheckboxAreaView}}
                    {{input type="checkbox" viewName="checkbox" checked=enabled disabled=isDisabled}}
                    <label {{bind-attr for="view.checkbox.elementId"}}>{{namePlural}}</label>
                  {{/view}}
                </li>
              {{/each}}
            </ul>
            <div style="clear: both;"></div>
          </td>
        </tr>
      {{/each}}
    </table>
  {{/unless}}
</div>
{{#unless sources.isLoading}}
  <div id="sources-continue-area">
    <div id="sources-continue-area-interior">
      <span id="sources-continue-area-message">
        {{#if sources.hasConnectedSources}}
          <span>You've connected {{sources.totalConnectedSources}} {{pluralize totalConnectedSources s="network"}} and selected {{sources.totalEnabledContentTypes}} {{pluralize totalEnabledContentTypes s="content type"}}.</span>
        {{else}}
          <span id="sources-continue-area-message-no-connected-sources">Connect at least one network to proceed...</span>
        {{/if}}
      </span>
      <button {{action 'saveSources'}} {{bind-attr disabled="sources.isDisabled"}}>{{{sources.saveLabel}}}</button>
    </div>
  </div>
{{/unless}}