<h3>Your {{storage.name}} Account <span>{{view.filledSize}} out of {{view.totalSize}} filled ({{view.filledPercentage}}) &middot; Last Completed Backup: {{view.lastCompletedSyncTimestamp}}</span></h3>
<ul class="options">
  <li style="color: #616161;">Options:</li>
  <li><a href="#">Increase Available Space</a></li>
  <li><a href="#">Pause All Backup</a></li>
  <li><a href="#">Restart All Backup</a></li>
  <li><a href="#">Disconnect</a></li>
</ul>
<div class="bar-base">
  <div {{bind-attr style="view.otherBarWidthStyle"}}></div><div {{bind-attr style="view.occupiedBarWidthStyle"}}></div><div {{bind-attr style="view.availableBarWidthStyle"}}></div>
</div>
<ul class="legends">
  <li>
    <div class="legend-color" {{action 'simulateOtherSizeIncrease' view}}><div class="legend-color-interior" style="background: #535353;"></div></div> 
    <div class="legend-label">Other Data ({{view.otherSize}} / {{view.otherPercentage}})</div>
  </li>
  <li>
    <div class="legend-color" {{action 'simulateOccupiedSizeIncrease' view}}><div class="legend-color-interior" style="background: #48d765;"></div></div> 
    <div class="legend-label">Backed Up Social Data ({{view.occupiedSize}} / {{view.occupiedPercentage}})</div>
  </li>
  <li>
    <div class="legend-color" {{action 'simulateTotalSizeIncrease' view}}><div class="legend-color-interior" style="background: #f6f6f6;"></div></div> 
    <div class="legend-label">Available Space ({{view.availableSize}} / {{view.availablePercentage}})</div>
  </li>
</ul>
<hr />