<div id="app">
  <div id="app-nav">
    <ul>
      <li {{action 'goToIndex'}} {{bind-attr class="indexSelected:selected"}}><img src="images/asheville_logo.png" /></li>
      {{#if model.isAuthenticated}}
        <li {{action 'goToSources'}} {{bind-attr class="sourcesSelected:selected"}}><span>Social Networks</span></li>
        {{#if model.hasConnectedSources}}
          <li {{action 'goToSync'}} {{bind-attr class="syncSelected:selected"}}><span>Backup Status</span></li>
        {{/if}}
      {{/if}}
    </ul>
    <ul>
      {{#if model.isAuthenticated}}
        <li {{action 'signOut'}}><span>Sign Out</span></li>
        <li id="app-nav-user-name"><span>{{model.name}}</span></li>
      {{else}}
        <li {{action 'signIn'}}><span>Sign In</span></li>
      {{/if}}
    </ul>
  </div>
  <div id="app-loading-indicator"></div>
  <div id="app-main">
    {{outlet}}
  </div>
</div>