<div id="app">
  <div id="app-nav">
    <ul>
      <li {{action 'goToHome'}}><img src="images/asheville_logo.png" /></li>
      <li {{action 'goToSources'}}><span>Social Networks</span></li>
      <li {{action 'goToSync'}}><span>Status</span></li>
    </ul>
    <ul>
      <li {{action 'signIn'}}><span>Sign In</span></li>
    </ul>
  </div>
  <div id="app-loading-indicator"></div>
  <div id="app-main">
    {{outlet}}
  </div>
</div>