<div id="index">{{userName}}
  <div id="right-area">
    <h2>Get Started</h2>
    <form method="post" action="/dropbox/dest/add">
      <button {{action 'connectDropbox'}} {{bind-attr disabled="isDisabled"}}>{{connectDropboxLabel}}</button>
    </form>
    <div class="tip">
      <p><strong>Note:</strong> By connecting Dropbox, you are <em>not</em> giving us access to any of the files currently stored in your account.<p>
      <p>Connecting will simply allow us to start storing data in a new folder on Dropbox for you. We will be able to read and change files only in that specific folder.</p>
    </div>
  </div>
  <div id="left-area">
    <h1>Introducing Asheville</h1>
    <p>Asheville is a service that automatically backs up the content you post on social networks to your Dropbox account.</p>
    <p>You'll get direct access to the files that constitute your photos, status updates, and other types of posts. And you won't have to worry about losing memories should these social networks ever change or restrict access to your content.</p>
    <p>To get started, simply connect your Dropbox account to the right. Or <a href="http://github.com/asheville/spec">learn more</a> about this service on Github.</p>
    <hr />
    {{view App.StorageSurveyView storageSurveyBinding="model" id="storage-survey"}}
    <div style="clear: both;"></div>
  </div>
</div>