<div id="sources">
  <h1>Choose social networks and content</h1>
  <p>Please connect at least one social network and select the types of content that you'd like us to back up below.</p>
  <div class="tip"><strong>Note:</strong> We will <em>not</em> post anything to these social networks without your explicit permission. We simply need you to connect them so we have permission to access your content.</div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Connect</th>
        <th>Select Content Types to Back Up</th>
      </tr>
    </thead>
    {{#each source in collection}}
      {{view App.SourcesSourceView sourceBinding=source}}
    {{/each}}
  </table>
</div>
<div id="sources-continue-area">
  <div id="sources-continue-area-interior">
    <span id="sources-continue-area-message">
      {{#if hasConnectedSources}}
        <span>You've connected {{totalConnectedSources}} {{conditionalPluralize totalConnectedSources s="network"}} and selected {{totalEnabledContentTypes}} {{conditionalPluralize totalEnabledContentTypes s="content type"}}.</span>
      {{else}}
        <span id="sources-continue-area-message-no-connected-sources">Connect at least one network to proceed...</span>
      {{/if}}
    </span>
    <button {{action 'saveSources'}} {{bind-attr disabled="isDisabled"}}>{{{saveLabel}}}</button>
  </div>
</div>