<h3>{{source.name}} <span>{{source.totalItemsSynced}} out of {{source.totalItemsAvailable}} pieces of content backed up ({{view.percentageCompleted}}) &middot; Last Completed Backup: {{view.lastCompletedSyncTimestamp}}</span></h3>
<ul class="options">
  <li style="color: #616161;">Options:</li>
  <li><a href="#">Pause</a></li>
  <li><a href="#">Restart</a></li>
  <li><a href="#">Modify Content Types</a></li>
  <li><a href="#">Disconnect</a></li>
</ul>
<div class="bar-base">
  <div class="bar-fill" style="width: 15%; background: #c000ff;"></div><div class="bar-fill" style="width: 25%; background: #ff7e00;"></div><div class="bar-fill" style="width: 14%; background: #f7e3ce;"></div><div class="bar-fill" style="width: 46%; background: #d2e0f1;"></div>
</div>
<ul class="legends">
  <li>
    <div class="legend-color"><div class="legend-color-interior" style="background: #c000ff;"></div></div> 
    <div class="legend-label">Photos (204 / 204)</div>
  </li>
  <li>
    <div class="legend-color"><div class="legend-color-interior" style="background: #ff7e00;"></div></div> 
    <div class="legend-label" style="font-weight: bold; color: black;">Status Updates (319 / 502)</div>
  </li>
  <li>
    <div class="legend-color"><div class="legend-color-interior" style="background: #0072ff;"></div></div> 
    <div class="legend-label">Checkins (0 / 4,779)</div>
  </li>
</ul>
<div class="preview preview-status-updates">
  <div class="preview-arrow"></div>
  <table>
    <thead>
      <tr>
        {{#each source.itemAttributes}}
          <th>Date</th>
          <th>Status Update</th>
          <th>Likes</th>
          <th>Comments</th>
          <th>Shares</th>
        {{/each}}
      </tr>
    </thead>
  </table>
  <div class="preview-items">
    <table>
      {{#each source.item in items}}
        <tr>
          <td>January 19, 2008</td>
          <td>Anybody have any camera recommendations?</td>
          <td>3</td>
          <td>0</td>
          <td>1</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>
<hr />