<h3>{{source.name}} <span>{{view.totalItemsSynced}} out of {{view.totalItemsAvailable}} pieces of content backed up ({{view.percentageItemsSynced}}) &middot; Last Completed Backup: {{view.lastCompletedSyncTimestamp}}</span></h3>
<ul class="options">
  <li style="color: #616161;">Options:</li>
  <li><a href="#">Pause</a></li>
  <li><a href="#">Restart</a></li>
  <li><a href="#">Modify Content Types</a></li>
  <li><a href="#">Disconnect</a></li>
</ul>
<div class="bar-base">
  {{#each contentType in source.contentTypes}}
    {{view App.SyncSourceContentTypeBarView contentTypeBinding=contentType}}
  {{/each}}
</div>
<ul class="legends">
  {{#each contentType in source.contentTypes}}
    {{view App.SyncSourceContentTypeLegendView contentTypeBinding=contentType}}
  {{/each}}
</ul>
{{#if source.itemAttributes}}
  <div class="preview preview-status-updates">
    <div class="preview-arrow"></div>
    <table>
      <thead>
        <tr>
          {{#each source.itemAttributes}}
            <th>Date</th>
            <th>Status Update</th>
            <th>Likes</th>
            <th>Comments</th>
            <th>Shares</th>
          {{/each}}
        </tr>
      </thead>
    </table>
    <div class="preview-items">
      <table>
        {{#each source.item in items}}
          <tr>
            <td>January 19, 2008</td>
            <td>Anybody have any camera recommendations?</td>
            <td>3</td>
            <td>0</td>
            <td>1</td>
          </tr>
        {{/each}}
      </table>
    </div>
  </div>
{{/if}}
<hr />