<h2 class="content-type-header">{{contentType.pluralName}} <div class="content-type-sync-spinner"></div></h2>
<div class="content-type-sync-bar">
  {{#if contentType.totalItemsSyncedPercentage}}
    <div class="content-type-sync-percentage">{{contentType.totalItemsSyncedPercentage}}%</div>
  {{/if}}
  <div class="content-type-sync-progress-bar" {{bind-attr style="view.syncBarStyle"}}></div>
</div>
{{#if contentType.status.hasItemSynced}}
  <div class="content-type-sync-status">

    <div><strong>Synced:</strong> {{digitGrouping contentType.status.totalItemsSynced}}{{#if contentType.status.totalItemsAvailable}} of {{digitGrouping contentType.status.totalItemsAvailable}}{{/if}}

    {{#if contentType.status.lastSyncedItem}}</div> 
      <span>&middot;</span>
      <div><strong>Most Recent:</strong> {{default contentType.status.lastSyncedItem.description 'N/A'}}
    {{/if}}

    </div>
  </div>
{{/if}}