<div class="interior">
  <h1 class="has-image">
    <div class="image-wrapper">
      <img {{bind-attr src=source.logoGlyphUrl}} />
    </div>
    {{source.name}}
    {{#unless source.enabled}}
      <div class="description">Not Yet Supported</div>
    {{/unless}}
  </h1>

  {{#if source.enabled}}
    {{#if source.authed}}
      {{#each contentType in view.orderedContentTypes}}
        {{view "SourceContentType" contentType=contentType}}
      {{/each}}
    {{else}}
      <div class="button-area auth">
        {{view "SourceAuthButton" source=source}}
      </div>
    {{/if}}
  {{else}}
    <div class="button-area notify">
      {{view "SourceNotifyButton" source=source}}
    </div>
  {{/if}}
</div>