<div class="sync-section-header">
  <div class="sync-section-header-name">{{storage.name}}</div>
  <ul class="sync-section-header-info">
    <li>{{view.filledSize}} out of {{view.totalSize}} filled ({{view.filledPercentage}})</li>
    {{#if storage.lastCompletedSync}}
      <li>Last Completed Backup: {{storage.lastCompletedSync}}</li>
    {{/if}}
    <li class="sync-section-header-info-syncing">{{#if view.isSyncing}}Backing up...{{/if}}</li>
  </ul>
</div>
<div class="bar-base">
  <div {{bind-attr style="view.otherBarWidthStyle"}}></div><div {{bind-attr style="view.occupiedBarWidthStyle"}}></div><div {{bind-attr style="view.availableBarWidthStyle"}}></div>
</div>
<ul class="legends">
  <li>
    <div class="legend-color" {{action 'simulateOtherSizeIncrease' view}}><div class="legend-color-interior"></div></div> 
    <div class="legend-label" {{action 'simulateOtherSizeDecrease' view}}>Other Data ({{view.otherSize}} / {{view.otherPercentage}})</div>
  </li>
  <li>
    <div class="legend-color" {{action 'simulateOccupiedSizeIncrease' view}}><div class="legend-color-interior"></div></div> 
    <div class="legend-label" {{action 'simulateOccupiedSizeDecrease' view}}>Backed Up Social Data ({{view.occupiedSize}} / {{view.occupiedPercentage}})</div>
  </li>
  <li>
    <div class="legend-color" {{action 'simulateTotalSizeIncrease' view}}><div class="legend-color-interior"></div></div> 
    <div class="legend-label" {{action 'simulateTotalSizeDecrease' view}}>Available Space ({{view.availableSize}} / {{view.availablePercentage}})</div>
  </li>
</ul>
<hr />