<div class="sync-section-header">
  <div class="sync-section-header-name">{{source.name}}</div>
  <ul class="sync-section-header-info">
    {{#if view.hasTotalItems}}
      <li>{{view.totalItemsSynced}} out of {{view.totalItemsAvailable}} pieces of content backed up ({{view.percentageItemsSynced}})</li>
    {{/if}} 
    {{#if view.lastCompletedSyncTimestamp}}
      <li>&middot; Last Completed Backup: {{view.lastCompletedSyncTimestamp}}</li>
    {{/if}}
    <li class="sync-section-header-info-syncing">{{#if view.isSyncing}}Backing up...{{/if}}</li>
  </ul>
</div>
<div class="bar-base">
  {{#each contentType in source.contentTypes}}
    {{view App.SyncSourceContentTypeBarView contentTypeBinding="contentType"}}
  {{/each}}
</div>
<ul class="legends">
  {{#each contentType in source.contentTypes}}
    {{view App.SyncSourceContentTypeLegendView contentTypeBinding="contentType"}}
  {{/each}}
</ul>
<hr />